<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppSecret" value="2b61eff333fccbc81af20ecec33bd528"/>
    <add key="AppId" value="wx9d16cee4ab6e3781"/>
    <add key="AuthCodeUrl" value="https://api.weixin.qq.com/sns/jscode2session?appid={0}&secret={1}&js_code={2}&grant_type=authorization_code"/>
  </appSettings>
</configuration>