<div class="row clearfix" ng-controller="app.views.product.createProduct as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    @L("CreateProduct")
                </h2>
            </div>
            <div class="form" style="margin: 20px">
                <form id="frm_create_product" name="productCreateForm" class="form-horizontal form-bordered bordered" novalidate>
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-2">标题</label>
                            <div class="col-md-4">
                                <div class="input-icon right" style="float:none !important">
                                    <input id="name" class="hasInputBorder form-control " name="name" type="text" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">类目</label>
                            <div class="col-md-4">
                                <div class="input-icon right" style="float:none !important">
                                    @*                                    <input id="name" class="hasInputBorder form-control" name="name" type="text" value="" />*@
                                    <select ng-model="selectedCategory">
                                        <option value="0" selected="selected">选择类目</option>
                                        <option ng-repeat="x in vm.categoryList" value="{{x.id}}">{{x.categoryName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">上传图片</label>
                            <div class="col-md-4">                                
                                <div>
                                    <div ng-repeat="item in fileUploader.queue">
@*                                        <label>*@
@*                                            <img ng-src="item.file.name" />*@
@*                                        </label>*@
                                        @*                                        <span ng-if="item.imgSrc" ng-click="img_del($index)"></span>*@
                                        <div  ng-thumb="{file:item._file,height:50，width:50}"></div>
                                    </div>
                                    <div>
                                        已上传：{{ fileUploader.queue.length }}
                                        <label>
                                            <img class="thumbDefault" onclick="javascript: $('#uploadFile').click();" />
                                        </label>
                                        <input type="file" nv-file-select multiple="" filters="imageFilter,countLimitFilter" id="uploadFile" uploader="fileUploader" ng-show="false" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">产品描述</label>
                            <div class="col-md-4">
                                <div class="input-icon right" style="float:none !important">
                                    @*                                    <input id="name" class="hasInputBorder form-control" name="name" type="text" value="" />*@
                                    <textarea cols="80" rows="10" style="padding:12px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" class="btn gray " ng-click="vm.cancel()">
                                    @L("Cancel")
                                </button>
                                <button type="submit" class="btn green" ng-click="vm.save()" ng-disabled="productCreateForm.$invalid">
                                    @L("Save")
                                </button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
